<p class="mt-1">Activities</p>
<div class="d-flex flex-wrap  align-content-around py-0 my-0">
  <div *ngFor="let activity of activities">
    <app-activity
      class="mx-2  "
      [id]="activity.id"
      [editMode]="editMode"
    ></app-activity>
  </div>
</div>
<!-- One extra field to add new activity -->
<div class="row mx-2" *ngIf="editMode">
  <input
    type="text"
    style="width : 300px"
    name="activity"
    id="activity"
    [(ngModel)]="newActivity.name"
  />
  <button class="px-1" id="btnAdd" (click)="onNewActivity()">
    <i class="fas fa-plus"></i>
  </button>
</div>
