<nav class="navbar navbar-dark  py-0" style="background-color: rgb(0,77,64)">
  <div class="container">
    <div class="navbar-brand pl-1 p-0">{{ name }}</div>
    <!--
      Any right side action button only rendered when all button inputs are passed
    -->
    <span *ngIf="rightButtonIconClass && rightButtonTooltip && rightButtonShow"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button
        type="button"
        class="btn mt-0 px-1 mr-1 ml-10 p-0 float-right "
        placement="left"
        id="headerRightButton"
        ngbTooltip="{{ rightButtonTooltip }}"
        (click)="onRightButtonClick()"
        [disabled]="rightButtonDisabled"
      >
        <i class="fas {{ rightButtonIconClass }}"></i> {{ rightButtonText }}
      </button>
    </span>
  </div>
</nav>
