<app-header
  name="Theme"
  (rightButtonClick)="onDesignerClick()"
  rightButtonTooltip="Edit&nbsp;Theme"
  rightButtonIconClass="fa-pencil-alt"
>
</app-header>

<!-- Body -->
<div class="container">
  <h3>{{ theme?.name }}</h3>
  <div class="text-left" [innerHtml]="theme?.description"></div>
</div>

<div class="container">
  <div class="card mx-1">
    <div class="card-header text-center text-weight-bold">Categories</div>
    <div class="card-body">
      <ngx-datatable
        class="bootstrap ngx-datatable border rounded "
        [columnMode]="'flex'"
        [rows]="categories"
        [loadingIndicator]="true"
        [rowHeight]="'auto'"
        [footerHeight]="30"
        [headerHeight]="30"
        [limit]="20"
        style="width: 100%"
        [sorts]="[
          {
            prop: 'name',
            dir: 'asc'
          }
        ]"
      >
        <ngx-datatable-column
          name="Category"
          [flexGrow]="2"
          [sortable]="true"
          headerClass="bg-dark text-white text-weight-bold py-1"
        >
          <ng-template
            let-row="row"
            let-value="value"
            ngx-datatable-cell-template
          >
            <span class="mx-1"
              ><a routerLink="/category/{{ row.id }}">{{ row.name }}</a></span
            >
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="Description"
          headerClass="bg-dark text-white text-weight-bold py-1"
          [flexGrow]="3"
          [sortable]="true"
        >
          <ng-template
            let-row="row"
            let-value="value"
            ngx-datatable-cell-template
          >
            <span class="mx-1">{{ row.shortDescription }}</span>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
      <button (click)="onNewCategory()" class="my-2 float-right">
        Add New Category
      </button>
    </div>
  </div>
</div>
