<span *ngIf="action == 'U'">
  <app-header
    name="Checklist Designer"
    rightButtonIconClass="fa-arrow-left"
    (rightButtonClick)="onReturnToChecklistClick()"
  ></app-header>
</span>
<!-- Special nav bar if adding a checklist -->
<span *ngIf="action == 'A'">
  <app-header
    name="Checklist Designer"
    rightButtonIconClass="fa-plus"
    rightButtonTooltip="Click&nbsp;to&nbsp;add"
    rightButtonText=" Add"
    (rightButtonClick)="onAddClick()"
    [rightButtonDisabled]="!isValidForm || checklist.category.id == ''"
  ></app-header>
</span>

<!-- Checklists Form -->
<div class="container">
  <form name="form" #frmMain="ngForm">
    <!-- title -->
    <div class="form-group">
      <label for="title">Title *</label>
      <input
        type="text"
        class="form-control"
        name="title"
        [(ngModel)]="checklist.title"
        id="title"
        #title="ngModel"
        required
        minlength="10"
        maxlength="100"
        placeholder="Title"
        (blur)="onTitleUpdate()"
      />
      <div *ngIf="title.touched && !title.valid">
        <div *ngIf="title?.errors.required" class="alert alert-danger">
          Title is required
        </div>
        <div *ngIf="title?.errors.minlength" class="alert alert-danger">
          Title must be at least 10 characters long
        </div>
      </div>
    </div>

    <!-- Theme & Category -->

    <div class="form-group">
      <label
        for="themeCategory"
        placement="right"
        ngbTooltip="Select the Theme and Category to apply to this checklist"
        >Theme and Category *</label
      >
      <app-themecatetoryselector
        class="form-control"
        name="themeCategory"
        id="themeCategory"
        [theme]="checklist.theme"
        [category]="checklist.category"
        (themeCategoryChange)="themeCategoryChange($event)"
      ></app-themecatetoryselector>

      <div
        *ngIf="title.touched && checklist.category.id == ''"
        class="alert alert-danger"
      >
        A theme and category must be selected.
      </div>
    </div>

    <!-- Community -->
    <div class="form-group">
      <label for="community">Community</label>
      <select
        class="dropdown form-control"
        name="community"
        id="community"
        (change)="onCommunityUpdate()"
        [(ngModel)]="checklist.community.id"
      >
        <option value="">No Community</option>
        <option
          *ngFor="let community of userLeadCommunities"
          value="{{ community.id }}"
          >Community: {{ community.name }}</option
        >
      </select>
    </div>
    <!-- description -->
    <div class="form-group">
      <label for="description">Description *</label>

      <app-ngx-editor
        [placeholder]="'Enter description here...'"
        [spellcheck]="true"
        [(ngModel)]="checklist.description"
        [config]="descriptionEditorConfig"
        (blur)="onDescriptionUpdate()"
        #description="ngModel"
        maxlength="1000"
        minlength="25"
        id="description"
        name="description"
        required
      ></app-ngx-editor>

      <div *ngIf="description.touched && !description.valid">
        <div *ngIf="description?.errors.required" class="alert alert-danger">
          Description is required
        </div>
        <div *ngIf="description?.errors.minlength" class="alert alert-danger">
          Description must be at least 25 characters long
        </div>
      </div>
    </div>
    <!--
      isTemplate , can only be set when first adding the
      checklist (and when creating a template using a checklist copy)
    -->
    <div class="form-group" *ngIf="action == 'A'">
      <label
        for="isTemplate"
        placement="right"
        ngbTooltip="Checklist templates can only be used to create new checklists."
        >Is a Template&nbsp;
      </label>
      <input
        type="checkbox"
        name="isTemplate"
        [(ngModel)]="checklist.isTemplate"
        id="isTemplate"
      />
    </div>

    <div class="form-group" *ngIf="id && checklist.isTemplate">
      Is a template&nbsp;<i
        class="far fa-file"
        style="color: darkgoldenrod"
        title="Is a template"
      ></i>
    </div>

    <!-- Target date -->

    <div class="form-group">
      <label
        for="targetDate"
        placement="right"
        ngbTooltip="Date when the checklist is expected to be completed/closed"
        >Targeted Completion</label
      >
      <div class="input-group">
        <input
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="targetDate"
          (dateSelect)="onTargetDateUpdate()"
          (blur)="onTargetDateUpdate()"
          [(ngModel)]="model"
          ngbDatepicker
          #targetDate="ngbDatepicker"
        />

        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary calendar"
            (click)="targetDate.toggle()"
            type="button"
          >
            <i class="fas fa-calendar-alt"></i>
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="action == 'U'">
      <!-- Checklistitems -->
      <nav class="navbar navbar-dark bg-secondary py-0">
        <div class="navbar-brand mr-auto">Checklist Items</div>
        <button
          type="button"
          class="btn  mt-0 px-1 mr-1 ml-10 p-0 float-right "
          (click)="onItemAddClick()"
          placement="left"
          id="addChecklistsItem"
          ngbTooltip="Click to add"
        >
          <i class="fas fa-plus"></i> Add New Checklist Item
        </button>
      </nav>

      <div *ngFor="let checklistitem of checklistitems; index as i">
        <div
          [ngClass]="{
            'font-italic font-weight-light':
              checklistitem.data().status == ChecklistItemStatus.Suppressed
          }"
        >
          {{ i + 1 }}
          <a
            routerLink="/checklistitemdesigner/U/{{ checklistitem.id }}"
            title="Click to design this checklist item"
          >
            {{ checklistitem.data().prompt }}
            <span
              *ngIf="
                checklistitem.data().status == ChecklistItemStatus.Suppressed
              "
              ><i class="far fa-eye-slash" title="Suppressed"></i
            ></span>
          </a>
        </div>
      </div>
    </div>
  </form>
</div>
