<span *ngIf="action == 'U'">
  <app-header
    name="Checklist Designer"
    rightButtonIconClass="fa-arrow-left"
    rightButtonTooltip="Return&nbsp;to&nbsp;Checklist"
    (rightButtonClick)="onReturnToChecklistClick()"
  ></app-header>
</span>
<!-- Special nav bar if adding a checklist -->
<span *ngIf="action == 'A'">
  <nav class="navbar navbar-dark  py-0" style="background-color: rgb(0,77,64)">
    <div class="container">
      <div class="navbar-brand pl-1 p-0">New Checklist</div>
      <button
        type="button"
        id="headerRightButton"
        class="btn btn-outline-white mt-0 px-1 mr-1 ml-10 p-0 float-right text-light"
        (click)="onAddClick()"
        placement="left"
        ngbTooltip="Click to add"
        [disabled]="!f.valid"
      >
        <i class="fas fa-plus"></i> Add
      </button>
    </div>
  </nav>
</span>

<!-- Checklists Form -->
<div class="container">
  <form name="form" #f="ngForm">
    <!-- <div *ngIf="(Checklist$ | async) as checklist"> -->
    <!-- title -->
    <div class="form-group">
      <label for="title">Title *</label>
      <input
        type="text"
        class="form-control"
        name="title"
        [(ngModel)]="checklist.title"
        id="title"
        #title="ngModel"
        required
        minlength="10"
        maxlength="100"
        placeholder="Title"
        (blur)="onTitleUpdate()"
      />
      <div *ngIf="title.touched && !title.valid">
        <div *ngIf="title?.errors.required" class="alert alert-danger">
          Title is required
        </div>
        <div *ngIf="title?.errors.minlength" class="alert alert-danger">
          Title must be at least 10 characters long
        </div>
      </div>
    </div>
    <!-- description -->
    <div class="form-group">
      <label for="description">Description *</label>

      <app-ngx-editor
        [placeholder]="'Enter description here...'"
        [spellcheck]="true"
        [(ngModel)]="checklist.description"
        [config]="descriptionEditorConfig"
        (blur)="onDescriptionUpdate()"
        #description="ngModel"
        maxlength="1000"
        minlength="25"
        id="description"
        name="description"
        required
      ></app-ngx-editor>

      <div *ngIf="description.touched && !description.valid">
        <div *ngIf="description?.errors.required" class="alert alert-danger">
          Description is required
        </div>
        <div *ngIf="description?.errors.minlength" class="alert alert-danger">
          Description must be at least 25 characters long
        </div>
      </div>
    </div>
    <!--
      isTemplate , can only be set when first adding the
      checklist (and when creating a template using a checklist copy
    -->
    <div class="form-group" *ngIf="action == 'A'">
      <label
        for="isTemplate"
        placement="right"
        ngbTooltip="Checklist templates can only be used to create new checklists."
        >Is a Template&nbsp;
      </label>
      <input
        type="checkbox"
        name="isTemplate"
        [(ngModel)]="checklist.isTemplate"
        id="isTemplate"
      />
    </div>

    <div
      class="form-group"
      *ngIf="id && checklist.isTemplate"
      class="text-info"
    >
      Is a template
    </div>
    <div *ngIf="action == 'U'">
      <!-- Checklistitems -->
      <nav class="navbar navbar-dark bg-secondary py-0">
        <div class="navbar-brand mr-auto">Checklist Items</div>
        <button
          type="button"
          class="btn  mt-0 px-1 mr-1 ml-10 p-0 float-right "
          (click)="onItemAddClick()"
          placement="left"
          id="addChecklistsItem"
          ngbTooltip="Click to add"
        >
          <i class="fas fa-plus"></i> Add New Checklist Item
        </button>
      </nav>

      <div *ngFor="let checklistitem of checklistitems; index as i">
        <div>
          {{ i + 1 }}
          <a
            routerLink="/checklistitemdesigner/U/{{ checklistitem.id }}"
            title="Click to design this checklist item"
            >{{ checklistitem.data().prompt }}</a
          >
        </div>
      </div>
    </div>
  </form>
</div>
