<br />
<div class="card  mx-auto " style="width : 400px">
  <div class="card-header text-center  ">
    <h4>Login</h4>
  </div>
  <div class="card-body mb-20">
    <p class="card-title text-center"><b>Select your login method</b></p>
    <p class="card-text text-center"><button style="width: 150px"><i class="fab fa-google"></i> Google</button></p>
    <p class="card-text text-center"><button  style="width: 150px"><i class="far fa-envelope"></i> eMail</button></p>
    <p class="card-text text-center"><a  (click)="register()" > Sign up</a></p>
  </div>
</div>

