<app-header name="Login or Sign Up"></app-header>
<div class="card  mx-auto mt-2 " style="width : 350px">
  <div class="card-header text-center  "><h4>Login</h4></div>
  <div class="card-body mb-20">
    <p class="card-text text-center">
      <button style="width: 80%" (click)="this.auth.loginGoogle()">
        <i class="fab fa-google"></i> Google
      </button>
    </p>
    <p class="text-center">or</p>

    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input
        type="text"
        class="form-control"
        id="inputEmail"
        name="inputEmail"
        placeholder="Enter your email"
        [(ngModel)]="email"
      />
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input
        type="password"
        class="form-control"
        id="inputPassword"
        name="inputPassword"
        placeholder="Enter your password"
        [(ngModel)]="password"
      />
    </div>
    <p class="card-text text-center">
      <button
        style="width: 80%"
        (click)="this.auth.loginEmail(email, password)"
        id="btnLogin"
      >
        <i
          class=" far
        fa-envelope"
        ></i>
        eMail
      </button>
    </p>
    <hr />
    <p class="card-text text-center">
      <a routerLink="/signup"><i class="fas fa-user-plus"></i> Sign up</a>
    </p>
  </div>
</div>
