<span *ngIf="action == 'U'">
  <app-header
    name="Checklist Item Designer"
    rightButtonIconClass="fa-arrow-left"
    rightButtonTooltip="Return&nbsp;to&nbsp;Checklist"
    (rightButtonClick)="onReturnChecklistDesignerClick()"
  ></app-header>
</span>
<!-- Special nav bar if adding a checklist -->
<span *ngIf="action == 'A'">
  <app-header
    name="Checklist Item Designer"
    rightButtonIconClass="fa-plus"
    rightButtonTooltip="Click&nbsp;to&nbsp;add"
    rightButtonText=" Add"
    (rightButtonClick)="onAddClick()"
    [rightButtonDisabled]="!isValidForm"
  ></app-header>
</span>

<!-- <span *ngIf="action == 'A'">
  <nav class="navbar navbar-dark  py-0" style="background-color: rgb(0,77,64)">
    <div class="container">
      <div class="navbar-brand pl-1 p-0">New Checklist Item</div>
      <button
        type="button"
        class="btn  mt-0 px-1 mr-1 ml-10 p-0 float-right "
        (click)="onAddClick()"
        placement="left"
        ngbTooltip="Click to add"
        id="headerRightButton"
        [disabled]="!f.valid"
      >
        <i class="fas fa-plus"></i> Add
      </button>
    </div>
  </nav>
</span> -->

<div class="container">
  <form name="form" #frmMain="ngForm">
    <!-- prompt -->
    <div class="form-group">
      <label for="prompt">Prompt *</label>
      <input
        type="text"
        class="form-control"
        name="prompt"
        [(ngModel)]="checklistItem.prompt"
        id="prompt"
        #prompt="ngModel"
        required
        minlength="5"
        maxlength="100"
        placeholder="Prompt"
        (blur)="onPromptUpdate()"
      />
      <div *ngIf="prompt.touched && !prompt.valid">
        <div *ngIf="prompt?.errors.required" class="alert alert-danger">
          Prompt is required
        </div>
        <div *ngIf="prompt?.errors.minlength" class="alert alert-danger">
          Prompt must be at least 5 characters long
        </div>
      </div>
    </div>
    <!-- description -->
    <div class="form-group">
      <label for="description">Description *</label>
      <app-ngx-editor
        [placeholder]="'Enter description here...'"
        [spellcheck]="true"
        [(ngModel)]="checklistItem.description"
        [config]="descriptionEditorConfig"
        (blur)="onDescriptionUpdate()"
        #description="ngModel"
        maxlength="1000"
        id="description"
        name="description"
      ></app-ngx-editor>
    </div>

    <!-- Activity -->
    <div class="form-group">
      <label
        for="activity"
        placement="top"
        ngbTooltip="The activity assigned to this checklist item. Activities are derived from the available list of activities in the community or theme/category that the checklist belongs to. Activities are a key segmenter of data when reporting or analyzing checklists"
        >Activity</label
      >
      <select
        class="form-control"
        name="activity"
        [(ngModel)]="checklistItem.activity.id"
        id="activity"
        #activity="ngModel"
        (click)="onActivityUpdate()"
      >
        <option value="">None</option>
        <!-- Add option for any orphaned activities -->
        <option *ngIf="!checklistItem.activity.id=='' && !idIsInActivityArray()  " 
          value="{{checklistItem.activity.id}}">{{checklistItem.activity.name}}</option>
        <option *ngFor="let itemActivity of activities" value="itemActivity.id"
          >{{ itemActivity.name }} - {{ itemActivity.parentType == 1 ? '[Theme/category]' : '[Community]' }}</option
        >
      </select>
    </div>

    <!-- ResultType -->
    <div class="form-group">
      <label
        for="resultType"
        placement="top"
        ngbTooltip="Options for how the checklist item is to be collected from the user. i.e. Simple checkbox, as a rating, and options on if it can be marked as Not Applicable."
        >Get result As *</label
      >
      <select
        class="form-control"
        name="resultType"
        [(ngModel)]="checklistItem.resultType"
        id="resultType"
        #resultType="ngModel"
        (change)="onResultTypeUpdate()"
      >
        <option value="{{ ChecklistItemResultType.checkbox }}">Checkbox</option>
        <option value="{{ ChecklistItemResultType.checkboxNA }}"
          >Checkbox or NA</option
        >
        <option value="{{ ChecklistItemResultType.rating }}">Rating</option>
        <option value="{{ ChecklistItemResultType.ratingNA }}"
          >Rating or NA</option
        >
      </select>
    </div>

    <!--  Suppress - flips between active and suppressed status - deleted status items are not shown -->

    <div class="form-group" *ngIf="action == 'U'">
      <label
        for="isSuppressed"
        placement="right"
        ngbTooltip="Suppressed items will not show on the checklist"
        >Is Suppressed&nbsp;
      </label>
      <app-checkbox
        (clickChecked)="oncbClick(false)"
        (clickUnChecked)="oncbClick(true)"
        [checked]="checklistItem.status == ChecklistItemStatus.Suppressed"
      ></app-checkbox>
    </div>
  </form>
</div>
