<app-header
  name="My Checklists"
  rightButtonIconClass="fa-filter"
  rightButtonTooltip="Toggle Filter"
  rightButtonText=" Filter"
  (rightButtonClick)="filterToggler()"
></app-header>

<div class="container">
  <div class="card mt-1" *ngIf="filterToggle">
    <div class="card-header text-center font-weight-bold py-1">Filter</div>
    <div class="card-body">
      <!-- Owner selector -->
      <span class="pt-1 pb-0">Owner</span>
      <select
        class="dropdown form-control"
        (change)="onChangeOwnership()"
        [(ngModel)]="selectedOwnership"
      >
        <option value="All">All</option>
        <option value="Owned">Owned by Me</option>
        <option
          *ngFor="let community of auth.user.communitiesAsArray"
          value="{{ community.id }}"
          >Community: {{ community.name }}</option
        >
      </select>
      
      <!-- Status selector -->
      <span class="pt-1 pb-0 ">Status</span>
      <select
        class="dropdown  form-control"
        (change)="filterByStatus()"
        [(ngModel)]="selectedStatus"
      >
        <option
          *ngFor="let status of checklistStatusAsArray"
          value="{{ status.id }}"
          >{{ status.name }}</option
        >
      </select>

      <!-- age selector -->
      <span class="pt-1 pb-0 ">Age</span>
      <select
        class="dropdown  form-control"
        (change)="filterByAge()"
        [(ngModel)]="selectedAge"
      >
        <option value="9999" selected>All</option>
        <option value="1">1 Day</option>
        <option value="7">7 Days</option>
        <option value="30">30 Days</option>
        <option value="90">90 Days</option>
        <option value="180">180 Days</option>
        <option value="365">365 Days</option>
      </select>
    </div>
  </div>
  <div *ngIf="queryLimitExceeded" class="alert alert-danger">
    More than {{ queryLimit }} checklists retrieved from the database, extra
    items are not shown, change the filters to reduce the number of checklists
    selected.
  </div>
  <div class="row mx-1">
    <!--
      Datatable - see https://swimlane.gitbook.io/ngx-datatable/api/table/inputs
    -->
    <ngx-datatable
      class="bootstrap ngx-datatable"
      [columnMode]="'flex'"
      [rows]="checklists"
      [loadingIndicator]="true"
      [rowHeight]="35"
      [footerHeight]="30"
      [limit]="20"
      style="width: 100%"
      [sorts]="[
        {
          prop: 'title',
          dir: 'asc'
        }
      ]"
    >
      <ngx-datatable-column name="Name" [flexGrow]="3" [sortable]="false">
        <ng-template
          let-row="row"
          let-value="value"
          ngx-datatable-cell-template
        >
          <span class="mx-1"
            ><a routerLink="/checklist/{{ row.id }}">{{ row.title }}</a></span
          >
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Status" [flexGrow]="1">
        <ng-template
          let-row="row"
          let-value="value"
          ngx-datatable-cell-template
        >
          {{ ChecklistStatus[row.status] }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Ownership" [flexGrow]="1">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template
          ><span *ngIf="row?.owner?.uid == auth.getUserUID">
            <i
              class="fas fa-user mr-2"
              placement="top"
              ngbTooltip="Owner: {{ row?.owner?.displayName }}"
              style="color: blue"
            ></i
          ></span>
          <span *ngIf="row?.owner?.uid != auth.getUserUID">
            <i
              class="fas fa-user-slash mr-2"
              placement="top"
              ngbTooltip="Owner: {{ row?.owner?.displayName }}"
              style="color: skyblue"
            ></i
          ></span>
          <span *ngIf="row.community">
            <span *ngIf="auth.user.communities[(row.community?.communityId)]">
              <i
                class="fas fa-users mr-2"
                placement="top"
                ngbTooltip="Community: {{ row?.community?.name }}"
                style="color:maroon"
              ></i
            ></span>
            <span *ngIf="!auth.user.communities[(row.community?.communityId)]">
              <i
                class="fas fa-users mr-2"
                placement="top"
                ngbTooltip="Community: {{ row?.community?.name }}"
                style="color:lightcoral"
              ></i></span
          ></span>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <div
    class="bg-light border-black border mt-1 mx-1 p-1 rounded text-black-50 text-center"
    style="font-size: 70%"
  >
    <i class="fas fa-user" style="color: blue; font-size: 70%;"></i> I am the
    owner.
    <i class="fas fa-user-slash " style="color: skyblue; font-size: 70%;"></i> I
    am not the owner.
    <i class="fas fa-users" style="color: maroon; font-size: 70%;"></i> Member
    of my communities
    <i class="fas fa-users" style="color:lightcoral; font-size: 70%;"></i> Not a
    member of my communities
  </div>
</div>
