<app-header name="My Checklists"></app-header>
<div class="container">
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel>
      <ng-template ngbPanelTitle> <span>Filters</span> </ng-template>
      <ng-template ngbPanelContent>
        <div>
          Show checklist where I am the owner?
          <app-checkbox
            [checked]="showOwned"
            (clickUnChecked)="showOwner(false)"
            (clickChecked)="showOwner(true)"
          ></app-checkbox>
        </div>
        <br />
        <span class="pt-1 pb-0"
          >Show checklists from the following communities</span
        >
        <select
          class="dropdown form-control"
          (change)="showCommunity()"
          [(ngModel)]="selectedCommunity"
        >
          <option value="None" selected
            >None : Don't show any community checklists</option
          >
          <option
            *ngFor="let community of auth.user.communitiesAsArray"
            value="{{ community.id }}"
            >{{ community.name }}</option
          >
        </select>
        <br />
        <span class="pt-1 pb-0">Show checklists with the following status</span>
        <select
          class="dropdown  form-control"
          (change)="filterByStatus()"
          [(ngModel)]="selectedStatus"
        >
          <option value="-1" selected>All</option>
          <option
            *ngFor="let status of checklistStatusAsArray"
            value="{{ status.id }}"
            >{{ status.name }}</option
          >
        </select>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  <div class="row mx-1">
    <!--
      Datatable - see https://swimlane.gitbook.io/ngx-datatable/api/table/inputs
    -->
    <ngx-datatable
      class="bootstrap ngx-datatable"
      [columnMode]="'flex'"
      [rows]="checklists$ | async"
      [loadingIndicator]="true"
      [rowHeight]="35"
      [footerHeight]="50"
      [limit]="20"
      style="width: 100%"
      [sorts]="[
        {
          prop: 'title',
          dir: 'asc'
        }
      ]"
    >
      <ngx-datatable-column name="Name" [flexGrow]="2" [sortable]="false">
        <ng-template
          let-row="row"
          let-value="value"
          ngx-datatable-cell-template
        >
          <span class="mx-1"
            ><a routerLink="/checklist/{{ row.id }}">{{ row.title }}</a></span
          >
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Status" [flexGrow]="1">
        <ng-template
          let-row="row"
          let-value="value"
          ngx-datatable-cell-template
        >
          {{ ChecklistStatus[row.status] }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Community" [flexGrow]="1">
        <ng-template
          let-row="row"
          let-value="value"
          ngx-datatable-cell-template
        >
          {{ row?.community?.name }}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
