<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ name }}</h4>
    <button
      type="button"
      id="selectTCClose"
      class="close p-0"
      aria-label="Close"
      (click)="modal.dismiss('Cross')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <!-- Action Selector
      1. Accept Invitation
      2. Reject Invitation
      3. Remove me as leader
      4. Remove me as member
      5. Send member invitation
      6. Send leader invitation
      -->
      <div class="form-group">
        <div>
          <span
            *ngIf="
              accessState == CommunityAccessState.leadershipInvited ||
              accessState == CommunityAccessState.membershipInvited
            "
          >
            <input
              type="radio"
              [(ngModel)]="selectedAction"
              name="action"
              value="accept"
            />
            Accept Invitation<br />
          </span>
          <span
            *ngIf="
              accessState == CommunityAccessState.leadershipInvited ||
              accessState == CommunityAccessState.membershipInvited
            "
          >
            <input
              type="radio"
              [(ngModel)]="selectedAction"
              name="action"
              value="reject"/>
            Reject Invitation<br
          /></span>
          <span *ngIf="accessState == CommunityAccessState.leader">
            <input
              type="radio"
              [(ngModel)]="selectedAction"
              name="action"
              value="removeAsLeader"
            />

            Remove me as Leader<br />
          </span>
          <span *ngIf="accessState == CommunityAccessState.member">
            <input
              type="radio"
              [(ngModel)]="selectedAction"
              name="action"
              value="removeAsMember"
            />
            Remove me as Member<br />
          </span>
          <span *ngIf="accessState == CommunityAccessState.leader">
            <input
              type="radio"
              [(ngModel)]="selectedAction"
              name="action"
              value="sendMemberInvitation"
            />
            Send invitation to be a member of this community<br />
          </span>

          <span *ngIf="accessState == CommunityAccessState.leader">
            <input
              type="radio"
              [(ngModel)]="selectedAction"
              name="action"
              value="sendLeaderInvitation"/>
            Send invitation to be a leader of this community<br
          /></span>

          <div
            class="form-group"
            *ngIf="
              selectedAction == 'sendMemberInvitation' ||
              selectedAction == 'sendLeaderInvitation'
            "
          >
            <label for="invitee">Invitee Email *</label>
            <input
              class="form-control"
              name="invitee"
              type="email"
              id="txtInvitee"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- Save -->
  <div class="modal-footer">
    <button
      type="button"
      id="btnCMConfirm"
      class="btn btn-outline-dark"
      (click)="modal.close('Confirm')"
      [disabled]="selectedAction == ''"
    >
      Confirm
    </button>
  </div>
</ng-template>

<!-- Public community is special - everyone always belongs -->
<button
  class="btn py-0 "
  (click)="open(content)"
  id="btnCommunityModal"
  *ngIf="id != 'PUBLIC'"
>
  Actions <i class="fas fa-angle-double-up" title="Manage community access"></i>
</button>
