<app-header name="Test Component"></app-header>

<span *ngFor="let user of users">
  {{ user.data().email }} - {{ user.data().communities[communityId].name }} [{{
    user.data().communities[communityId].accessState
  }}]<br />
</span>

<span *ngFor="let cl of (ownerORcommunity$ | async)">
  {{ cl.id }} - {{ cl.title }}
  <span class="bg-info" *ngIf="cl.community">{{ cl?.community?.name }}</span
  ><br />
</span>

<hr />
Test basic file upload on iOS (safari mobile)
<input id="file" type="file" accept="image/*" />

<hr />

<app-ngx-editor
  [placeholder]="'Enter text here...'"
  [spellcheck]="true"
  [(ngModel)]="htmlContent"
  [config]="editorConfig"
></app-ngx-editor>

<div [innerHTML]="htmlContent"></div>
<br />
<hr />
<h5>Batch updates</h5>
<button (click)="doBatchUpdate()">
  Batch set all checklistsItems status to 0
</button>
<br /><br />
<button (click)="doBatchUpdate2()">Batch set checklist community.id</button>
<br />
<hr />
<br />
<div class="border">
  <app-themecatetoryselector
    [theme]="{ id: 'ErwDacLgiSdtgHbEO8K9', name: 'Software' }"
    [category]="{ id: 'LooHX2WQVTPLJTpsNV18', name: 'Design' }"
    (themeCategoryChange)="themeCategoryChange($event)"
  ></app-themecatetoryselector>
</div>
<h5>Test user invitation</h5>
<button (click)="doInvitationUpdate()">Invitation</button>
<hr />
<app-communitymanagermodal
  [id]="'Ufrqt16S1Yr1c7cG7eqq'"
  [name]="'Philadelphia Boat Owners'"
  [accessState]="CommunityAccessState.leader"
></app-communitymanagermodal>

<hr />
<h5>activity tester</h5>
<button (click)="onActivityClick()">Activity Tester</button>
