<!--
  Standard Header : Note use non breaking tooltip string to stop tooltip drifting into main menu
-->
<app-header
  name="Checklist"
  (rightButtonClick)="onDesignerClick()"
  rightButtonTooltip="Modify&nbsp;Checklist&nbsp;Design"
  rightButtonIconClass="fa-pencil-alt"
  [rightButtonShow]="showDesignerButton"
>
</app-header>

<!-- Body -->
<div class="container">
  <ngb-accordion>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <h5>{{ checklist.title }}</h5>
      </ng-template>
      <ng-template ngbPanelContent>
        <p>
          <b> {{ checklist?.theme?.name }} : {{ checklist?.category?.name }}</b>
        </p>
        <div class="text-left" [innerHtml]="checklist.description"></div>

        <div class="row">
          <div class="col-sm">
            <b>Owner</b>: {{ checklist?.owner?.displayName }}
          </div>
          <div class="col-sm">
            <b>Community</b>: {{ checklist?.community?.name }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <b>Created</b>: {{ checklist?.dateCreatedShortDate }}
          </div>
          <div class="col-sm">
            <b>Targeting</b>: {{ checklist?.dateTargetedShortDate }}
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

  <!-- Checklist Items -->
  <hr class="p-0 m-0" />
  <!--
    <div *ngFor="let checklistItem of  checklistItems$ | async;  index as i">
    <app-checklistitem [id]="checklistItem.payload.doc.id" [index]="i"></app-checklistitem>
  -->

  <div *ngFor="let checklistitem of checklistitems; index as i">
    <app-checklistitem [id]="checklistitem.id" [index]="i"></app-checklistitem>
  </div>
</div>
