<!-- <p text="right"><a><i class="fas fa-edit"></i></a></p> -->

<!-- Standard Header : Note use non breaking tooltip string to stop tooltip drifting into main menu-->
<app-header name="Record Checklist Results" rightButtonRoute="/checklistdesigner/{{ (checklist$ | async)?.id }}"
  rightButtonTooltip="Modify&nbsp;Checklist&nbsp;Design" rightButtonIconClass="fa-pencil-alt">
</app-header>

<!-- Body -->
<div class="container">
  <h3>{{ (checklist$ | async)?.data().title }}</h3>
  <p class="text-left">Owner : {{ (checklist$ | async)?.data().owner }}</p>

  <!-- Checklist Items -->
  <hr />
  <!-- <div *ngFor="let checklistItem of  checklistItems$ | async;  index as i"> 
   <app-checklistitem [id]="checklistItem.payload.doc.id" [index]="i"></app-checklistitem>-->
  <div *ngFor="let checklistitem of  checklistitems;  index as i">
    <app-checklistitem [id]="checklistitem.id" [index]="i"></app-checklistitem>
  </div>
</div>
