/* You can add global styles to this file, and also import other style files */

/* Used this method to include fontawesome styles globally but I am not sure
  if this is the best way to do it, seems to work and tested that the dist output is valid
   see https://fontawesome.com/how-to-use/on-the-web/using-with/angular  */
@import "https://use.fontawesome.com/releases/v5.3.1/css/all.css";


/* ngx-datatable styles
  These get applied to the table globaly (I couldn't see a way to apply unique styles at the component level
  due to the way component styles are qualified to only apply to local components, however only
  the ngx-datatable class is qualified with the local identifier
  see: https://github.com/swimlane/ngx-datatable/issues/834  */

.datatable-header-inner {
  border-bottom: 1px;
  border-bottom-style: solid;
  border-color: grey;
  font-weight: bold;
}
