<app-header name="My Communities"></app-header>
<div class="container">
  <div class="row mx-1">
    <!--
      Datatable - see https://swimlane.gitbook.io/ngx-datatable/api/table/inputs
    -->
    <ngx-datatable
      class="bootstrap ngx-datatable"
      [columnMode]="'flex'"
      [rows]="communities"
      [loadingIndicator]="true"
      [rowHeight]="'auto'"
      [footerHeight]="30"
      [limit]="20"
      style="width: 100%"
      [sorts]="[
        {
          prop: 'name',
          dir: 'asc'
        }
      ]"
    >
      <ngx-datatable-column name="Name" [flexGrow]="2" [sortable]="false">
        <ng-template
          let-row="row"
          let-value="value"
          ngx-datatable-cell-template
        >
          <span class="mx-1"
            ><a routerLink="/community/{{ row.id }}">{{ row.name }}</a></span
          >
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="State" [flexGrow]="1">
        <ng-template
          let-row="row"
          let-value="value"
          ngx-datatable-cell-template
        >
          {{ this.auth.user.accessStateAsString(row.accessState) }}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
