<ngb-carousel>
  <ng-template ngbSlide class="carousel-item carousel-image-1">
    <img src="../../assets/images/Checklist2.png" alt="Books and Lists" width="100%">
    <div class="carousel-caption ">
      <h4><i class="far fa-list-alt"></i> Checklists</h4>
      <p>Streamline tasks with checklists.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide class="carousel-item carousel-image-2">
    <img src="../../assets/images/share5.png" alt="People sharing checklists" width="100%">
    <div class="carousel-caption">
      <h4><i class="far fa-handshake"></i> Publish</h4>
      <p>Share checklists and results.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide class="carousel-item carousel-image-3">
    <img src="../../assets/images/Analysis.jpg" alt="Analyzing checklist trends" width="100%">
    <div class="carousel-caption">
      <h4><i class="fas fa-chart-line"></i> Analyze</h4>
      <p>Review, analyze and improve.</p>
    </div>
  </ng-template>
</ngb-carousel>

<!-- show each capability as a separate cards -->
<div class="card-columns mt-5 mx-2">
  <div class="card ">
    <div class="card-header text-center text-success">
      <h4><i class="far fa-list-alt"></i> Checklists</h4>
    </div>
    <div class="card-body">
      <b class="card-title">Streamline tasks with checklists.</b>
      <p class="card-text">Use checklists to streamline your activities, tasks amd processes for business, sports and
        hobbies. Move paper based
        checklists into electronic forms (Include supporting material, trainings and media). Include photos and videos
        with completed checklists. Do checks with better quality and more easily from your mobile device.</p>
    </div>
  </div>
  <div class="card ">
    <div class="card-header  text-center text-info">
      <h4><i class="far fa-handshake"></i> Publish</h4>
    </div>
    <div class="card-body">
      <b class="card-title">Publish and share checklists and checklist designs.</b>
      <p class="card-text">Publish checklists to for sharing. Use the community to improve, share and refine
        checklists. Strong controls included over who has access to your checklists, define your communities.</p>
    </div>
  </div>
  <div class="card ">
    <div class="card-header  text-center text-warning">
      <h4><i class="fas fa-chart-line"></i> Analyze</h4>
    </div>
    <div class="card-body">
      <b class="card-title">Analyze the results of checklists.</b>
      <p class="card-text">Perform analysis and reporting on checklists, either signally or as groups of checklists.
        Analyze trends, score results, roll into metrics.</p>
    </div>
  </div>
</div>
