<div class="card mx-auto" style="width:900px">
  <div class="card-body">
    <ngb-carousel >
      <ng-template ngbSlide>
        <img src="https://picsum.photos/g/1000/300?image=998" alt="Books and Lists">
        <div class="carousel-caption">
          <h3>Checklists</h3>
          <p>Find checklists and streamline common activities .</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="https://picsum.photos/g/1000/300?image=816" alt="Random second slide">
        <div class="carousel-caption">
          <h3>Collaborate on Checklists</h3>
          <p>Share checklists. Save results of inspections.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="https://picsum.photos/g/1000/300?image=668" alt="Random third slide">
        <div class="carousel-caption">
          <h3>Checklist Analytics</h3>
          <p>Review results of activities. Analyze and improve.</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
