<ngb-carousel>
  <ng-template ngbSlide class="carousel-item carousel-image-1">
    <img src="../../assets/images/Checklist1.jpg" alt="Books and Lists" width="100%">
    <div class="carousel-caption">
      <h4>Checklists</h4>
      <p>Streamline tasks with checklists.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide class="carousel-item carousel-image-2">
    <img src="https://picsum.photos/g/1200/400?image=816" alt="Random second slide" width="100%">
    <div class="carousel-caption">
      <h4>Share</h4>
      <p>Share checklists and results.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide class="carousel-item carousel-image-3">
    <img src="https://picsum.photos/g/1200/400?image=668" alt="Random third slide" width="100%">
    <div class="carousel-caption">
      <h4>Analyze</h4>
      <p>Review, Analyze and improve.</p>
    </div>
  </ng-template>
</ngb-carousel>
